.tri {
  font-family: $font;
  color: $bleu_fonce;
}

.title_category {
  font-family: $font;
  color: $bleu_fonce;
  margin-top: 10%;
  margin-bottom: 2%;
  text-align: center;
  font-size: x-large;
}

.info_category {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: $font;
}

@media screen and (min-width: 1280px) {

  .img_category {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }

  .img_category:hover {
    opacity: 0.6;
  }

  .all_product {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .product {
    width: 25%;
    margin-bottom: 5%;
  }

  .tree {
    display: flex;
  }

  .tree_item {
    color: $bleu_fonce;
    font-family: $font;
  }




  .bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }


}
@media screen and (max-width: 1279px) {
  .img_category{
    width: 80%;
    display: block;
    margin: 5% auto 2%;
  }
  .tree{
    display: none;
  }

  .dropdown{
    width: fit-content;
    display: block;
    margin: auto;
  }
}
