.title_newsletter {
  margin-top: 5%;
  margin-bottom: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  color: #063442;
  font-family: 'Cinzel', serif;
}

.form_newsletter {
  display: flex;
  justify-content: center;
}

.input_newsletter {
  border-color: $bleu_fonce;
  font-family: $font;
}

.button_newsletter {
  width: 150px;
  height: 30px;
  background-color: $bleu_fonce;
  color: white;
  font-size: 15px;
  border: 1px solid $bleu_fonce;
  font-family: $font;
}
@media screen and (min-width: 1280px) {
  footer {
    clear: both;
  }




  .info {
    display: flex;
    background-color: $rose_fonce;
    margin: 5% -9px;
    padding: 1%;
    font-family: $font;
  }

  .paiement, .livraison, .handmade {
    width: 20%;
    text-align: center;
    margin: 0 7%;
    font-family: $font;
    color: $bleu_fonce;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .social_img {
    width: 100%;
    height: auto;
  }

  .social_img:hover {
    width: 120%;
    height: auto;
  }


  .facebook, .instagram {
    width: 2%;
    margin: 0 2%;
  }

  .nav_foot {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-family: $font;
  }

  .nav_foot_item {
    margin: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .input_newsletter {
    width: 60%;
  }

  .nav_foot{
    display: none;
  }

  .social{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }

  .facebook, .instagram {
    width: 20%;

  }
  .social_img {
    width: 100%;
    height: auto;
  }

  .info{
    font-family: $font;
    color: $bleu_clair;
    text-align: center;
    margin: 5% 0;
  }
}

