.logo_header {
  width: 70%;
}
.item_header {
  font-family: $font;
  color: $bleu_fonce;
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .item_header {
    font-size: 120%;
    padding: 10px;
  }
  .link_logo_header {
    width: 15%;
  }

  .brand_name {
    font-family: "Dancing Script", cursive;
    font-size: 150%;
    padding: 2%;
    color: $bleu_fonce;
  }

  .menu {
    display: flex;
  }
}

@media screen and (max-width: 1279px) {
  .link_logo_header {
    width: 50%;
    display: block;
    margin: auto;
  }

  .logo_header{
    display: block;
    margin: auto;
  }

  .menu{
    text-align: center;
  }

  .item_header {
    margin: 2%;
  }

}
