.info_title{
  font-family: $font;
  color: $bleu_fonce;
  font-size: 2em;
  text-align: center;
  margin-top: 8%;
}

.info_button{
  font-family: $font;
  color: $bleu_clair;
  font-size: 1.2em;
  display: block;
  width: fit-content;
  margin: 3% auto;
}

.cmd{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% auto;
}