.login_title{
  font-family: $font;
  color: $bleu_fonce;
  margin-top:8%;
  text-align: center;
  font-size: 2em;
}

.login_form{
  width: 30%;
  margin: 2% auto;
}

.login_label{
  font-family: $font;
  font-size: 1.2em;
  color: $bleu_clair;
}

.login_input{
  display: block;
  margin: 1% auto;
}

.form_item {
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  width: 100%;
}

.btn_register{
  font-family: $font;
  color: $bleu_fonce;
  font-size: 1.2em;
  width: fit-content;
  display: block;
  margin: 2% auto;
}