.login_title{
  font-family: $font;
  color: $bleu_fonce;
  margin-top:8%;
  text-align: center;
  font-size: 2em;
}

.login_form{
  width: fit-content;
  margin: 2% auto;
}

.login_label{
  font-family: $font;
  font-size: 1.2em;
  color: $bleu_clair;
}
.form_item{
  margin: 2% 0;
}
