//panier vide
.empty{
  text-align: center;
  margin-top: 15%;
  font-family: $font;
}

//panier plein

.title_cart{
  font-family: $font;
  text-align: center;
  margin-top: 8%;
}

.img_cart{
  width: 10%;
  height: 10%;
}

.cart_product{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% auto;
}