//panier vide
.empty{
  text-align: center;
  margin-top: 15%;
  font-family: $font;
}

//panier plein

.title_cart{
  font-family: $font;
  text-align: center;
  margin-top: 8%;
}

.img_cart{
  width: 10%;
  height: 10%;
}

.cart_product{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2% auto;
}

.delivery_cart{
  text-align: center;
}

.total_cart{
  margin: 2% auto;
  text-align: right;
  width: 80%;
}

.btn_remove{
  height: 100%;
}

.btn_commande{
  display: block;
  margin: 3% auto 0;
}

//Ajout panier

.addCart_title{
  font-family: $font;
  color: $bleu_fonce;
  font-size: 2em;
  margin: 8%;
  text-align: center;
}

.btn_addCart{
  width: 40%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
}
