.tree_product{
  display: flex;
  margin-top:10%;
  margin-left: 5%;
}
.info_product{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.vert{
  color: green;
}

.rouge{
  color: red;
}

.stock{
  margin-bottom: 10%;
}

.txt_product{
  font-family: $font;
  color: $bleu_fonce;
  width: 50%;
}

.img_product{
  width: 35%;
  height: 35%;
}

.price_name{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  border-bottom: 1px solid $bleu_clair;
}

.detail {
  font-family: $font;
  color: $bleu_clair;
  margin-bottom: 20%
}

.add_cart{
  border: 1px solid $bleu_clair;
  border-radius: 10px;
  padding: 2%;
  background-color: $rose_clair;
  color: $bleu_clair;
  font-family: $font;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  text-align: center;
}

.more_title{
  font-family: $font;
  font-size: x-large;
  color: $bleu_fonce;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.product_more{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.products_more{
  width: 25%;
}
.img_more{
  width: 80%;
  display: block;
  margin-left: auto ;
  margin-right: auto;
  margin-bottom: 1%;
}