.register_form_item {
  font-family: $font;
  color: $bleu_clair;
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

@media screen and (min-width: 1280px) {

  .register_form {
    width: 30%;
    display: block;
    margin: 2% auto;
  }

  .btn_register {
    display: block;
    margin: 5% auto;
  }
}

@media screen and (max-width: 1279px) {

  .register_form {
    width: 80%;
    display: block;
    margin: 2% auto;
  }

}
