.addAdress_title{
  font-family: $font;
  color: $bleu_fonce;
  font-size: 2em;
  text-align: center;
  margin-top: 8%;
}

.addAddress_form{
  width: fit-content;
  display: block;
  margin: 3% auto;
}