.addAdress_title{
  font-family: $font;
  color: $bleu_fonce;
  font-size: 2em;
  text-align: center;
  margin-top: 8%;
}
.row_address {
  font-family: $font;
  color: $bleu_clair;
  display: flex;
  margin: 2%;
  justify-content: space-between;
}
.submit_address {
  display: block;
  margin: 5% auto;
  font-family: $font;
  color: $bleu_fonce;
  font-size: 1.2em;
}
@media screen and (min-width: 1280px) {
  .addAddress_form {
    width: 40%;
    display: block;
    margin: 3% auto;
  }
}

