<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Vous devez être connecté pour ajouter un produit au panier</p>
        <div>
            <button>
                <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </button>
            <button>
                <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
            </button>
        </div>
    </div>

</div>