<div class="newsletter">
    <h2 class="title_newsletter">Newsletter</h2>
    <form class="form_newsletter" action="">
        <input class="input_newsletter" type="email" name="newsletter_mail" size="120" value="VOTRE ADRESSE E-MAIL">
        <button class="button_newsletter" type="submit">S'inscrire</button>
    </form>
</div>