{% extends 'template/baseLog.html.twig' %}

{% block title %}
    Ajout panier
{% endblock %}

{% block content %}
    <h1 class="addCart_title">Le produit a bien été ajouté à votre panier</h1>

    <div class="btn_addCart">
        <button>
            <a href="{{ path(category) }}">Retour aux produits</a>
        </button>
        <button>
            <a href="{{ path('panier') }}">Aller au panier</a>
        </button>
    </div>
{% endblock %}

