{% extends 'template/baseLog.html.twig' %}

{% block title %}
    commande
{% endblock %}

{% block content %}
    <h1 class="address_title">Selection de l'adresse de livraison</h1>

    <form method="post">
        <div class="allOldAddress">
            {% for address in allAddress %}
                <div class="oldAddress">
                    <input type="radio" name="address" id="{{ address.name }}" value="{{ address.name }}">
                    <label for="{{ address.name }}"> {{ address.name }} </label>
                </div>
            {% endfor %}
        </div>
        <div class="newAddress">
            <div>
                <input type="radio" name="address" id="newAddress" value="newAddress">
                <label for="newAddress">Ajouter une nouvelle adresse et l'utiliser pour la livraison</label>
            </div>
            <div class="form_newAddress">
                <div class="col_add">
                    <label for="addressName">Nom de l'adresse :</label>
                    <input type="text" id="addressName" name="addressName">
                </div>
                <div class="col_add">
                    <label for="address1">Adresse :</label>
                    <input type="text" id="address1" name="address1">
                </div>
                <div class="col_add">
                    <label for="address2">Complement d'adresse :</label>
                    <input type="text" id="address2" name="address2">
                </div>
                <div class="col_add">
                    <label for="zipCode">Code postal :</label>
                    <input type="text" id="zipCode" name="zipCode">
                </div>
                <div class="col_add">
                    <label for="city">Ville :</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="col_add">
                    <label for="country">Pays :</label>
                    <input type="text" id="country" name="country">
                </div>
                <div class="col_btn">
                    <input type="submit" value="Envoyer">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
