{% extends 'template/'~template %}

{% block title %}
    Panier
{% endblock %}

{% block content %}
    <h1 class="addCart_title">Le produit est déjà dans votre panier</h1>

    <div class="btn_addCart">
        <button>
            <a href="{{ path(category) }}">Retour aux produits</a>
        </button>
        <button>
            <a href="{{ path('panier') }}">Aller au panier</a>
        </button>
    </div>
{% endblock %}
