{% extends 'template/baseLog.html.twig' %}

{% block title %}
    Mes informations
{% endblock %}

{% block content %}
    <h1 class="info_title">Mes informations</h1>

     <button class="info_button">
         <a href="{{ path('addAddress') }}">Ajouter une adresse</a>
     </button>
     <button class="info_button">
         <a href="{{ path('historiqueOrders') }}">Mes commandes</a>
     </button>

{% endblock %}
