{% extends 'template/base.html.twig' %}

{% block title %}
    Panier
{% endblock %}

{% block content %}
    <h1 class="title_cart">Panier</h1>
    <div>
        {% for product in products %}
            <div class="cart_product">
                <img class="img_cart" src="{{ asset('assets/img/product/'~product.img.img1) }}" alt="produit">
                <p>{{  product.name }}</p>
                {% if product.stock >= 1 %}
                    <p class="vert">En stock</p>
                {% else %}
                    <p class="rouge">Hors Stock</p>
                {% endif %}
                <p>{{ product.price }} €</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
