{% extends 'template/adminBase.html.twig' %}

{% block title %} Produit ajouter{% endblock %}

{% block content %}
    <h1 class="text-center title_success">Le produit à bien été ajouter</h1>
    <div class="button_success">
        <a href="{{ path('addProduct') }}">
            <button class="btn btn-primary">Ajouter un autre produit</button>
        </a>
    </div>
{% endblock %}